<div class="container-fluid">
    <div class="row p-5 my-5 d-flex justify-content-center">
        <h1 class="title">Gallery List</h1>
    </div>
    <div class="row">
        <div class="col-3 " *ngFor="let image of imageList$ | async">
            <div class="card pointer" (click)="onChooseImage(image); modalService.open('image')">
                <div class="card-body d-flex flex-column align-items-center">
                    <figure>
                        <img [src]="image.download_url" alt="">
                    </figure>
                    <p class="card-text">{{image.author}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pop-up id="image" >
    <figure>
        <img [src]="chosenImage?.download_url" alt="">
    </figure>
</app-pop-up>